genk-questionnaire {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-inline: 2.5rem;
}

.questionnaire {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: min(600px, 100%);
  padding-block-end: 2rem;
  margin-top: 8rem;
}

.questionnaire__fieldset {
  width: 100%;
}

.fieldset__legend {
  margin-bottom: 1em;
  font-weight: 600;
}

.slide-button {
  align-self: start;
  cursor: pointer;
  color: var(--clr-secondary-300);
  font-weight: 600;
  text-transform: uppercase;
  font-size: initial;
  opacity: 0;
}
.slide-button:hover, .slide-button:focus-visible {
  color: var(--clr-secondary-400);
}
.slide-button:focus-visible {
  outline: 2px dashed;
  outline-offset: 5px;
}

.fieldset__answer:hover > input[type="radio"] {
  background-color: var(--clr-secondary-200);
}

.fieldset__answer, .fieldset__answer > input {
  cursor: pointer;
}
.fieldset__answer {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 100%;
  padding: 0.6em;

  font-size: 1.3rem;
  color: var(--clr-primary-400);
}

.fieldset__answer:hover {
  background-color: #ffffff5b;
}

/*========== CUSTOM INPUTS ==========*/
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--clr-primary-400);
  margin: 0;

  font: inherit;
  width: 1.1em;
  height: 1.1em;
  border-radius: 50%;

  display: grid;
  place-content: center;

  transition: background-color 150ms ease;
}
input[type="radio"]::after {
  content: '';
  width: 0.6em;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--clr-dark-100);
  transform: scale(0);
  transition: transform 150ms ease-in-out;
}
input[type="radio"]:checked {
  background-color: var(--clr-secondary-300);
}
input[type="radio"]:checked::after {
  transform: scale(1);
}
input[type="radio"]:focus-visible {
  outline: 0.1em dashed;
  outline-offset: 0.1em;
  outline-color: var(--clr-secondary-300);
}

/*========== PROGRESS BAR ==========*/
genk-step-progress-bar {
  --genk-spb-clr-primary: var(--clr-secondary-300);
  --genk-spb-clr-secondary: var(--clr-primary-400);
  --genk-spb-clr-dark: var(--clr-dark-500);
  --genk-spb-clr-grey: var(--clr-dark-200);
  --genk-spb-clr-light: var(--clr-dark-100);

  /* --genk-spb-size: 450px;
  --genk-spb-badge-size: 35px; */

  --genk-spb-transition-duration: 400ms;
  --genk-spb-transition-delay: 600ms;
  --genk-spb-transition-timing-function: ease-in;


  position: absolute;
  top: 1.5rem;
  right: 2rem;
  padding-inline: 1em;
  opacity: 0;
}
genk-step-progress-bar::part(label) {
  font-weight: 600;
}
@media only screen and (max-width: 600px) {
  genk-step-progress-bar {
    --genk-spb-size: auto;
    right: 0.75rem;
    left: 0.75rem;
  }
}