.co2Footprint {
  text-align: center;
  display: inline-block;
  color: red;
  font-size: clamp(2.4em, 5vw, 3em);
  font-weight: 800;
  font-family: var(--title-font);
  margin: 0.4em 1em;
}
.treesFootprint {
  color: red;
  font-size: 1.8em;
  font-weight: 600;
  font-family: var(--title-font);
  margin: 0;
}

.results-ui__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding-inline: 1rem;
  margin-right: auto;
  min-width: 514px;
}
.results-ui__header span:first-child {
  font-size: 1.4rem
}

.results-ui__charts {
  --charts--bg-color: var(--clr-dark-100);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr 1fr;
  place-items: center;
  gap: 1.5rem;
  flex: 0.8;
  max-height: 570px;
  padding: 2rem;

  border-radius: 0.5rem;
  background-color: var(--charts--bg-color);
  box-shadow: 4px 5px 12px rgba(0, 0, 0, 0.1);
}
.results-ui__charts > h2 {
  grid-column: 1 / span 2;
  font-size: 1.6rem;
}

.results-ui__navigation {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}
.results-ui__navigation > a {
  font-size: 1.3em;
  font-weight: 600;
  color: var(--clr-secondary-300);
  transition: color 0.3s ease-out;
}
.results-ui__navigation > a:hover {
  color: var(--clr-secondary-400);
}
.results-ui__navigation > a:focus-visible {
  outline-offset: 5px;
  outline-width: 3px;
  outline-style: dashed;
}

@media only screen and (max-width: 1037.9px) {
  .co2Footprint {
    width: 100%;
    text-align: center;
    margin-inline: 0;
  }
  .results-ui__charts {
    margin-inline: auto;
    margin-bottom: 5rem;
  }
  .results-ui__navigation {
    width: 100%;
    text-align: center;
    left: 0
  }
  .results-ui__header {
    min-width: 100%;
  }
}

@media only screen and (max-width: 540px) {
  .results-ui__charts {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
    max-height: fit-content;
    flex: 1;
    padding-inline: 1rem;
  }
  .results-ui__charts > h2 {
    grid-column: auto;
  }
}