:root {
  /* 0.5rem = 8px | 1rem = 16px ... */
  font-size: 16px;
  --body-font: 'Open Sans', sans-serif;
  --title-font: "Poppins", sans-serif;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.563rem;
  --fs-600: 1.953rem;
  --fs-700: 2.441rem;
}